<html>

<body>
    <div class="container">
        <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter your username">
        </div>
    
        <div>
            <label for="password"><b>Password</b></label>
            <input type="text" placeholder="Enter your password">
        </div>
    </div>

    <button type="submit">Login</button>
    <br>
    <form action="registration.html" method="POST">
        <input type="submit" value="Register">
    </form>
</body>

</html>